In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df=pd.read_csv("C:/Users/swastik.mohanty/Downloads/Corna/Corona_NLP_train.csv",encoding='latin-1')

In [3]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['OriginalTweet'].head(10))

In [5]:
tokenized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

In [6]:
onehot_encoder = OneHotEncoder()

In [7]:
onehot_encoded = onehot_encoder.fit_transform(tokenized_df.values.reshape(-1, 1))

In [8]:
onehot_df = pd.DataFrame(onehot_encoded.toarray(), columns=onehot_encoder.get_feature_names_out())

In [9]:
print(onehot_df)

      x0_0  x0_1  x0_2  x0_3
0      1.0   0.0   0.0   0.0
1      1.0   0.0   0.0   0.0
2      1.0   0.0   0.0   0.0
3      1.0   0.0   0.0   0.0
4      1.0   0.0   0.0   0.0
...    ...   ...   ...   ...
2075   1.0   0.0   0.0   0.0
2076   1.0   0.0   0.0   0.0
2077   1.0   0.0   0.0   0.0
2078   1.0   0.0   0.0   0.0
2079   1.0   0.0   0.0   0.0

[2080 rows x 4 columns]