In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df=pd.read_csv("C:/Users/swastik.mohanty/Downloads/Corna/Corona_NLP_train.csv",encoding='latin-1')

In [3]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
vectorizer = TfidfVectorizer()

In [8]:
X = vectorizer.fit_transform(df['OriginalTweet'].head(1))

In [9]:
tfidf_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

In [10]:
print("TF-IDF representation:")
print(tfidf_df)

TF-IDF representation:
        and  chrisitv        co     https  i2nlzdxno8  ifz9fan2pa  menyrbie  \
0  0.377964  0.188982  0.566947  0.566947    0.188982    0.188982  0.188982

   phil_gahan  xx6ghgfzcc
0    0.188982    0.188982